#login{
    /* border: 1px solid red; */
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cod-gray);
}

#area-login{
    /* border: 1px solid blue; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
    justify-content: center;
    align-items: center;

}

form{
    /* border: 1px solid yellow; */
    padding: 70px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    background-color: var(--gray);
    border-radius: 25px;
}

.area-input{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.area-input label{
    color: white;
}

.area-input input{
    background-color: transparent;
    border: 1px solid white;
    width: 100%;
    border-radius: 30px;
    color: white;
    padding: 5px 15px;
}

#area-capa{
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    max-height: 620px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-x: hidden;
}

#area-capa img{
    display: flex;
    width: 100%;
    object-fit: cover;
}

button:disabled{
    border: 1px solid var(--aqua-haze);
    border-radius: 25px;
    width: 50%;
    margin: 0 auto;
    padding: 5px 10px;
    color: var(--aqua-haze);
    background-color: transparent !important;
    cursor: no-drop !important;
}

button{
    border: 1px solid var(--starship);
    border-radius: 25px;
    width: 50%;
    margin: 0 auto;
    padding: 5px 10px;
    color: var(--starship);
    background-color: var(--gray);
    cursor: pointer;
}

button:hover{
    background-color: var(--gray-50);
    cursor: pointer;
}

