<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer>
        <div class="starship">
            <div class="col-1">
                <h1>SCE</h1>
                <p>seu estacionamento inteligente.</p>
                <p class="support"><i class="fa-solid fa-at"></i>sce.support@gmail.com</p>
            </div>
            <div class="col-2">
                <h2>Sobre nós:</h2>
                <p class="sobre-nos">Somos uma empresa fictícia de um estacionamento inteligente que oferece soluções modernas, rápidas e seguras para facilitar o dia a dia dos motoristas. Em parceria com o Centro Universitário Maurício de Nassau (UNINASSAU), atuamos com tecnologia e eficiência para tornar o acesso e a gestão de vagas muito mais prática para alunos, colaboradores e visitantes.</p>
            </div>
            <div class="col-3">
                <h2>Parceria com:</h2>
                <img src="/imagens/capa/logo-nassau.png" alt="uninasssau" style="width: 25%;">
            </div>
            <div class="col-4">
                <h2>Newsletter:</h2>
                <form action="submit">
                    <p>Fique sabendo tudo de primeira mão!</p>
                    <div class="input-group">
                        <input type="email" required placeholder="Digite seu e-mail:">
                        <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="codgray">
            <p>&copy; 2025 - Todos os direitos reservados.</p>
        </div>
</footer>
