<footer>
    <div class="conteudo">
        <div class="starship">
            <div class="col-1">
                <h1 class="logo">SCE</h1>
                <p>seu estacionamento <br>inteligente.</p>
            </div>
            <div class="col-2">
                <h1>Sobre nós:</h1>
                <p>Somos uma empresa fictícia de um estacionamento inteligente que oferece soluções modernas, rápidas e seguras para facilitar o dia a dia dos motoristas. Em parceria com o Centro Universitário Maurício de Nassau (UNINASSAU), atuamos com tecnologia e eficiência para tornar o acesso e a gestão de vagas muito mais prática para alunos, colaboradores e visitantes.</p>
            </div>
            <div class="col-3">
                <h1>Parceria com:</h1>
                <img src="assets/img/unin.png" alt="uninasssau">
            </div>
            <div class="col-4">
                <h1>Newsletter:</h1>
                <form action="get">
                    <input type="email" name="" id="" placeholder="e-mail"><br>
                    <button type="submit">CADASTRAR</button>
                </form>
            </div>
        </div>
        <div class="codgray">
            <p>© 2025 - Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
