/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --malachite: #03D26F;
    --cyprus: #014651;
    --aqua-haze: #EAF4F4;
    --starship: #CEF431;
    --cod-gray: #161514;
}

@font-face {
    font-family: Satoshi Regular;
    src: url(assets/fonts/Satoshi-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Satoshi Medium;
    src: url(assets/fonts/Satoshi-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Satoshi B;
    src: url(assets/fonts/Satoshi-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Satoshi Black;
    src: url(assets/fonts/Satoshi-Black.otf) format(otf);
}

@font-face {
    font-family: Satoshi Italic;
    src: url(assets/fonts/Satoshi-Italic.otf) format("otf");
    font-style: italic;
}

@font-face {
    font-family: Satoshi Light;
    src: url(assets/fonts/Satoshi-Light.otf) format("otf");
    font-weight: 300;
}

@font-face {
    font-family: South;
    src: url(assets/fonts/South.otf);
}
